@import "tailwindcss";

.count{
    @apply  bg-gradient-to-r from-blue-500/70 to-purple-500/70 rounded-lg shadow-md overflow-hidden ;
}
.count-card{
    @apply  flex flex-col mt-10 px-16 py-8 ;
}
.flag-img img{
  @apply  w-124 h-64 object-cover rounded-lg shadow-md ;
}
.data-count{
    @apply  flex flex-col gap-4 mt-6  
}
.data-card{
    @apply font-bold text-4xl text-black ;
}
.read-btn{
    @apply  mt-6 bg-black text-white font-semibold py-4 px-7 rounded-2xl shadow-md hover:bg-blue-700 hover:text-white transition duration-300 ;
}