@import "tailwindcss";

.one-item-main{
    @apply flex flex-col items-center justify-center  px-8 mt-30 mx-8 ;
}
.one-item-div{
    @apply rounded-2xl shadow-xl p-6 flex flex-col md:flex-row items-start justify-start gap-6   py-8
    px-16;
}
.one-item{
    @apply flex flex-col md:flex-row gap-10 md:gap-90  mt-10 mb-16  px-8 pb-30 ;
}
.one-img img{
    @apply w-124 h-64 rounded-lg   ;
}
