.main-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin: 50px 0 50px 0;
}

.country-card{
    position: relative;
    border: 1px solid transparent;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: padding-box;
    padding: 20px 28px;
    border-radius: 16px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(33,35,38,0.08);
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    gap: 20px;
}

.flag-img img{
    display: block;
    width: 388px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}


