.section-about {
  margin: 0 auto 9rem auto;

}
.container-title{
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    font-weight: 500;
   line-height: 60px;

}
.card{
    max-width: 55rem;
    border: 0;
    width: 100%;
    margin-inline: auto;
}
.gradient-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.2rem;
    
}
@media(max-width: 992px){
    .gradient-cards{
        grid-template-columns: 1fr;
    }
}

.container-card{
    position: relative;
    border: solid transparent;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: padding-box;
    padding: 2.4rem;
    border-radius: 25px;
    padding: 40px;
    color: #fff;
    box-shadow: rgb(33,35,38,0.1) 0px 10px 10px -10px;

}
.card-title{
    color: palegoldenrod;
   
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 1rem;
}
.card-description{
    font-weight: 600;
    line-height: 32px;
    color: black;
    font-size: 20px;
    max-width: 470px;
    
}
.data{
   color: white;
}