@import "tailwindcss";

.section-contact{
  @apply flex flex-col items-center justify-center gap-8 p-8 mt-20 mx-30 pb-20 mb-40 border-2 border-blue-400 rounded-3xl shadow-[0px_30px_50px_rgba(99,102,241,0.6)] py-10 px-10 ;
}
.container-title{
    @apply text-center text-blue-300 text-5xl md:text-6xl mt-10 font-bold;
}
.container-wrapper{
  @apply flex items-center justify-center gap-16 text-white flex-wrap mt-20;
}
.form-main{
    @apply flex flex-col gap-20 text-white w-full md:w-96 items-center justify-center  ;
}
.contact-data{
    @apply flex flex-col gap-10 text-3xl text-blue-400 h-24 w-224 bg-white/10 rounded-2xl shadow-xl p-7 items-start justify-start py-8 px-16;
}
.valu{
    @apply h-50
}
.contact-btn{
    @apply w-100 mt-6 bg-black text-white font-bold py-6 px-10 rounded-2xl shadow-md hover:bg-blue-400 hover:text-white transition duration-300 ;
}